.main-dashboard {
    min-height: 100vh;
    overflow-x: hidden;
}
.main-dashboard .dash-container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #287bff;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 90px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover {
    background: #fff;
}
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li:hover a {
    color: #287bff;

}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon .faIcon {
    font-size: 1.75em;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* curve outside  */
.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #fff;
    pointer-events: none; 
}
.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #fff;
    pointer-events: none; 
}
/* main  */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #fff;
    transition: 0.5s;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.main.active {
    width: calc(100% - 90px);
    left: 90px;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;

}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid #222;
}
.search label .faIcon {
   position : absolute;
   top: 10px;
   left: 10px; 
   font-size: 1.2em;
}
.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.cardBox .dash-card {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .dash-card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: #287bff;
}
.cardBox .dash-card .cardName {
    color: #999;
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .dash-card .iconBx {
    font-size: 3.5em;
    color: #999;
}
.cardBox .dash-card:hover {
    background: #287bff;
}
.cardBox .dash-card:hover .numbers,
.cardBox .dash-card:hover .cardName,
.cardBox .dash-card:hover .iconBx {
    color: #fff;
}
/* chartjs */
.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 300px;
}
.graphBox .chartBox {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: #287bff;
}
.view-all-btn {
    position: relative;
    padding: 5px 10px;
    background: #287bff;
    text-decoration: none;
    color: #fff !important;
    border-radius: 6px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td {
    font-weight: 600;
}
.details .recentOrders table tr {
    color: #222;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child {
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
    background: #287bff;
    color: #fff;
}
.details .recentOrders table tr td {
    padding: 10px;
}
.details .recentOrders table tr td:first-child {
    text-align: start;
}
.details .recentOrders table tr td:last-child {
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
    text-align: end;
}
.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending {
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return {
    padding: 2px 4px;
    background: #f9ca3f;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.inprogress {
    padding: 2px 4px;
    background: #179517;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow:hidden;
}
.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr:hover {
    background: #287bff;
    color: #fff;
}
.recentCustomers table tr td {
    padding: 12px 10px;
}
.recentCustomers table tr td:nth-child(2) {
    text-align: start;
}
.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: #999;
}
.recentCustomers table tr:hover {
    background: #287bff;
    color: #fff;
}
.recentCustomers table tr:hover td h4 span {
    color: #fff;
}
/* some changes  */
.navigation ul li:first-child:hover {
    background: #287bff;
    color: #fff;
}
.navigation ul li:first-child:hover a {
    color: #fff;
}
.navigation ul li:first-child:hover a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #fff;
    pointer-events: none; 
}
.navigation ul li:first-child:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #fff;
    pointer-events: none; 
}
.our-form-input {
    display: block;
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid #d3d3d3;
    border-radius: 3px;
}

/* RESPONSIVE  */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        left: 0;
        width: 300px;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width: 768px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .details {
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders{
        overflow-x: auto;
    }
    .status.inprogress {
        white-space: nowrap;
    }
}
@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 1000;
    }
    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: #fff;
    }
    .chartBox {
        min-height: 250px;
    }
}